head{
    color: #450920;
}
h1, h2{
    color: #8c2f39;
}

body {
    background-color: #84a59d;
}

p, ul, table{
    color: #edafb8;
}

a {
    color: #FF6600; 
}

a:hover {
    color: #CC3300;
}

nav {
    background-color: #1e6091; 
    padding: 10px; 
    text-align: center; 
    margin-bottom: 30px;
}

nav a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    padding: 0 10px; 
}

nav a:hover {
    background-color: #cae9ff;
    color: #62bfed; 
    text-decoration: underline;
}