head{
    color: #ffccd5;
}
h1, h2{
    color: #bbd0ff;
}

body {
    background-color: #0077b6;
}

p, ul, table{
    color: #edafb8;
}

a {
    color: #FF6600; 
}

a:hover {
    color: #CC3300;
}

nav {
    background-color: #5858eb; 
    padding: 10px; 
    text-align: center; 
    margin-bottom: 10px;
}

nav a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    padding: 0 10px; 
}

nav a:hover {
    background-color: #FFD700;
    color: #FFB400; 
    text-decoration: underline;
}